<!-- <app-header></app-header> -->
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Sans">
</head>

<body>
    <div class="container">
        <h1> ⨳Welcome Amigos.</h1>
        <hr>
        <p class="p1">⨳ Astore allows customers to compare prices, manage orders, control budgets, and streamline
            workflows from a single multi-device platform.</p>
        <br>
        <p class="p2">⨳ a wide range of products and services that are necessary for the proper functioning of hotels,
            restaurants, bars, and other businesses in the industry.</p>
        <br>
        <p class="p3">⨳ Astore also provides smart features such as favorite lists, promotions, new products, and
            consumption trends. Astore claims to be the one-stop shop for all operational needs.</p>
    </div>
</body>

</html>
